<fs-examples [config]="config">
  <fs-example
      name="Attribute Field"
      componentName="field-example">
    <field-example></field-example>
  </fs-example>
  <fs-example
      name="Attribute Field With Groups"
      componentName="field-with-groups-example">
    <field-with-groups-example></field-with-groups-example>
  </fs-example>
  <fs-example
      name="Attribute Selector"
      componentName="selector-example">
    <selector-example></selector-example>
  </fs-example>
  <fs-example
      name="Attribute Selector With Groups"
      componentName="group-selector-example">
    <group-selector-example></group-selector-example>
  </fs-example>
  <fs-example
      name="Attribute Autocomplete Chips"
      componentName="autocomplete-chips">
    <autocomplete-chips></autocomplete-chips>
  </fs-example>
  <fs-example
      name="Attribute List"
      componentName="list-example">
    <list-example></list-example>
  </fs-example>
  <fs-example
      name="Attributes"
      componentName="attribtues-example">
    <attribtues-example></attribtues-example>
  </fs-example>
  <fs-example
      name="Tree"
      componentName="tree-example">
    <tree-example></tree-example>
  </fs-example>
</fs-examples>