<fs-examples [config]="config">
  <fs-example name="Attribute Kitchen Sink" componentName="example">
    <example></example>
  </fs-example>

  <fs-example name="Attribute Config Example" componentName="config-example">
    <config-example></config-example>
  </fs-example>

  <fs-example name="Attribute Field" componentName="field-example">
    <field-example></field-example>
  </fs-example>

  <fs-example name="Attribute List" componentName="list-example">
    <list-example></list-example>
  </fs-example>
</fs-examples>
