
<div fxLayout="row" fxLayoutGap="15px">
  <fs-label-field>
    <fs-label>Enable Image</fs-label>
    <mat-checkbox [(ngModel)]="image" (ngModelChange)="changed()"></mat-checkbox>
  </fs-label-field>

  <fs-label-field>
    <fs-label>Enable Remove</fs-label>
    <mat-checkbox [(ngModel)]="removable" (ngModelChange)="changed()"></mat-checkbox>
  </fs-label-field>

  <mat-form-field>
    <input matInput fsColorPicker [(ngModel)]="backgroundColor" placeholder="Background Color" (ngModelChange)="changed()">
  </mat-form-field>

  <mat-form-field>
    <input matInput fsColorPicker [(ngModel)]="textColor" placeholder="Text Color" (ngModelChange)="changed()">
  </mat-form-field>
</div>

<fs-attribute
  [attribute]="attribute"
  [removable]="removable"
  [config]="config">
    Tag A
</fs-attribute>
