<fs-label-field *ngIf="label; else attribs">
  <fs-label *ngIf="label">
    {{ label }}
  </fs-label>
  <ng-container *ngTemplateOutlet="attribs"></ng-container>
</fs-label-field>
<ng-template #attribs>
  <div class="attributes">
    <fs-attribute
        *ngFor="let attribute of attributes"
        [class]="class"
        [size]="size"
        [attribute]="attribute">
      <ng-template
        [ngTemplateOutlet]="templ || defaultNodeTemplate"
        [ngTemplateOutletContext]="{ attribute: attribute }">
      </ng-template>
    </fs-attribute>
    <button
        type="button"
        mat-icon-button
        (click)="select()"
        class="select-button">
      <mat-icon>
        {{ attributes.length ? 'edit' : 'add_circle_outline' }}
      </mat-icon>
    </button>
  </div>
</ng-template>
<ng-template
    #defaultNodeTemplate
    let-attribute="attribute">
  {{ attribute.name }}
</ng-template>