.attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;

  .select-button {
    padding: 0px;
    height: 24px;
    width: 24px;

    &.cdk-focused ::ng-deep {
      .mat-mdc-button-persistent-ripple::before {
        opacity: 0 !important;
      }
    }
  }
}
