:host ::ng-deep {

  .fs-attribute, .not-selected {
    margin-top: 7px;
  }
  .not-selected {
    font-size: 13px;
  }

  .fs-chip {
    margin-top: 0;
  }
}

.attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -7px;
  margin-left: -7px;

  .select-button {
    margin-top: 8px;
    align-self: center;
    cursor: pointer;
  }

  > * {
    margin-left: 7px;
  }
}
