  <ng-container *ngIf="dialogMode; else chipsList">
  <div mat-dialog-title>{{attributeConfig.pluralName}}</div>
  <mat-dialog-content>
    <ng-template [ngTemplateOutlet]="chipsList"></ng-template>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="done()" color="primary">Done</button>
    <button mat-button (click)="create()" *ngIf="showCreate!==false">Create {{attributeConfig.name}}</button>
  </mat-dialog-actions>
</ng-container>

<ng-template #chipsList>

  <mat-form-field class="search-attribute" *ngIf="filter">
    <mat-icon matPrefix>search</mat-icon>
    <div mat>
      <input type="text" matInput
             [(ngModel)]="filterKeyword"
             (ngModelChange)="filterByKeyword()"
             [placeholder]="placeholder"
      >
    </div>
  </mat-form-field>

  <fs-chips
    [(ngModel)]="selectedAttributes"
    [compare]="compareFn">
    <fs-chip
      *ngFor="let attribute of filteredAttributes"
      [selectable]="true"
      [image]="attribute.image"
      [backgroundColor]="attribute.backgroundColor"
      [value]="attribute"
      (selectedToggled)="selectedToggle($event)">
      {{ attribute.name }}
    </fs-chip>
  </fs-chips>
</ng-template>
