<div mat-dialog-title>{{attributeConfig.pluralName}}</div>
<mat-dialog-content>

  <fs-chips
    [(ngModel)]="selectedAttributes"
    [compare]="compare">
    <fs-chip
      *ngFor="let attribute of attributes"
      [selectable]="true"
      [image]="attribute.image"
      [backgroundColor]="attribute.backgroundColor"
      [value]="attribute"
      (selectedToggled)="selectedToggled.emit($event)">
      {{ attribute.name }}
    </fs-chip>
  </fs-chips>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="done()" color="primary">Done</button>
  <button mat-button (click)="create()">Create {{attributeConfig.name}}</button>
</mat-dialog-actions>