<div class="heading">
  <h2 *ngIf="heading">
    {{ heading }}
  </h2>
  <ng-container *ngIf="showExpand || showCollapse || showCreate">
    <button *ngIf="showExpand" mat-button (click)="expandAll()">Expand All</button>
    &nbsp;
    <button *ngIf="showCollapse" mat-button (click)="collapseAll()">Collapse All</button>
    &nbsp;
    <button *ngIf="showCreate" mat-raised-button color="primary" (click)="createRootNode()">
      Create {{ attributeConfig.name }}
    </button>
  </ng-container>
</div>
<fs-tree *ngIf="treeConfig" [config]="treeConfig">
  <ng-template fsTreeNode let-name="name" let-level="level" let-image="image" let-color="backgroundColor">
    <img *ngIf="image && level === 0" [src]="image" alt="">
    <div class="color"
         *ngIf="level === 0 && color"
         [style.background]="color"
    ></div>
    {{ name }}
  </ng-template>
</fs-tree>
