img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    flex: 1 0 auto;
  }

  .actions {
    flex: 0 0 auto;
  }
}
