<div class="heading">
  <h2 *ngIf="heading">
    {{ heading }}
  </h2>
  <ng-container *ngIf="showExpand || showCollapse || showCreate">
    <div class="attribute-tree-actions">
        <button *ngIf="showExpand" mat-button (click)="expandAll()">Expand All</button>
        &nbsp;
        <button *ngIf="showCollapse" mat-button (click)="collapseAll()">Collapse All</button>
        &nbsp;
        <button *ngIf="showCreate" mat-raised-button color="primary" (click)="createRootNode()">
          Create {{ attributeConfig.name }}
        </button>
    </div>

    <fs-menu class="attribute-tree-actions-menu">
      <ng-template fs-menu-item
                   [ngIf]="showExpand"
                   (click)="expandAll()">
        Expand All
      </ng-template>
      <ng-template fs-menu-item
                   [ngIf]="showCollapse"
                   (click)="collapseAll()">
        Collapse All
      </ng-template>
      <ng-template fs-menu-item
                   [ngIf]="showCreate"
                   (click)="createRootNode()">
        Create {{ attributeConfig.name }}
      </ng-template>
    </fs-menu>
  </ng-container>
</div>
<fs-tree *ngIf="treeConfig" [config]="treeConfig">
  <ng-template fsTreeNode
               let-name="name"
               let-level="level"
               let-image="image"
               let-color="backgroundColor"
               let-configs="configs"
  >
    <img *ngIf="image && level === 0" [src]="image" alt="">
    <div class="color"
         *ngIf="level === 0 && color"
         [style.background]="color"
    ></div>
    <ng-template
      [ngTemplateOutlet]="templ || defaultNodeTemplate"
      [ngTemplateOutletContext]="{ name: name, level: level, configs: configs }"
    ></ng-template>
  </ng-template>
</fs-tree>

<ng-template #defaultNodeTemplate let-name="name">
  {{ name }}
</ng-template>
