<div class="heading">
  @if (heading) {
    <h2>
      {{ heading }}
    </h2>
  }
  @if (showExpand || showCollapse || showCreate) {
    <div class="attribute-tree-actions">
      @if (showExpand) {
        <button mat-button (click)="expandAll()">Expand All</button>
      }
      &nbsp;
      @if (showCollapse) {
        <button mat-button (click)="collapseAll()">Collapse All</button>
      }
      &nbsp;
      @if (showCreate) {
        <button mat-raised-button color="primary" (click)="createRootNode()">
          Create {{ attributeConfig.name }}
        </button>
      }
    </div>
    <fs-menu class="attribute-tree-actions-menu">
      @if (showExpand) {
        <ng-template fs-menu-item
          (click)="expandAll()">
          Expand All
        </ng-template>
      }
      @if (showCollapse) {
        <ng-template fs-menu-item
          (click)="collapseAll()">
          Collapse All
        </ng-template>
      }
      @if (showCreate) {
        <ng-template fs-menu-item
          (click)="createRootNode()">
          Create {{ attributeConfig.name }}
        </ng-template>
      }
    </fs-menu>
  }
</div>
@if (treeConfig) {
  <fs-tree [config]="treeConfig">
    <ng-template
      fsTreeNode
      let-data="data"
      let-level="level">
      @if (data.image && level === 0) {
        <img [src]="data.image" alt="">
      }
      @if (level === 0 && data.color) {
        <div class="color"
          [style.background]="data.color"
        ></div>
      }
      <ng-template
        [ngTemplateOutlet]="templ || defaultNodeTemplate"
        [ngTemplateOutletContext]="{ name: data.name, level: level, configs: data.configs }"
      ></ng-template>
    </ng-template>
  </fs-tree>
}

<ng-template #defaultNodeTemplate let-name="name">
  {{ name }}
</ng-template>
