<form
  fsForm
  [submit]="save">
  <div mat-dialog-title>
    {{ title }}
  </div>
  <mat-dialog-content>
    <div class="fields">
      @if (attributeConfig?.hasEditableImage) {
        <fs-file-image-picker
          (select)="selectImage($event)"
          [url]="attribute.image"
          [imageQuality]=".8"
          imageWidth="500"
          imageHeight="500"
          [previewDiameter]="75"
          label="Image"
          >
        </fs-file-image-picker>
      }
      <mat-form-field>
        <mat-label>
          Name
        </mat-label>
        <input
          matInput
          [(ngModel)]="attribute.name"
          [required]="true"
          name="name">
      </mat-form-field>
      @if (attributeConfig.backgroundColor) {
        <mat-form-field>
          <mat-label>
            Color
          </mat-label>
          <input
            matInput
            fsColorPicker
            [(ngModel)]="attribute.backgroundColor"
            name="color">
        </mat-form-field>
      }
      @for (field of attributeConfig.fields; track field) {
        <fs-attribute-component-wrapper
          [field]="field"
          [data]="attribute"
          [component]="field.editComponent">
        </fs-attribute-component-wrapper>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      color="primary"
      type="submit">
      {{ inEditMode ? 'Save' : 'Create' }}
    </button>
    <button
      mat-button
      (click)="close()"
      type="button">
      Cancel
    </button>
  </mat-dialog-actions>
</form>
<style>
  .dialog-title {
  text-transform: lowercase;
}
.dialog-title::first-letter {
text-transform: uppercase;
}
</style>