:host.fs-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  fs-attribute {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}