:host.fs-attributes {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  fs-attribute {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  ::ng-deep .fs-chip {
    margin-top: 0;
  }
}