<fs-label-field>
  @if (title !== false) {
    <fs-label>
      {{ title }}
    </fs-label>
  }
  <div class="attributes">
    @for (attribute of selectedAttributes; track attribute) {
      <fs-attribute
        [class]="class"
        [attribute]="attribute">
        {{ attribute.name }}
      </fs-attribute>
    }
    <button
      type="button"
      mat-icon-button
      (click)="select()"
      class="select-button">
      <mat-icon>
        {{ selectedAttributes.length ? 'edit' : 'add_circle_outline' }}
      </mat-icon>
    </button>
  </div>
</fs-label-field>