<fs-list
  [config]="listConfig"
    [ngClass]="{
      'has-attribute-fields': attributeConfigModel.fields.length,
    }">
  <fs-list-column>
    <ng-template fs-list-header>
      {{ attributeConfigModel.name }}
    </ng-template>
    <ng-template
      fs-list-cell
      let-row="row">
      <div class="list-attribute">
        <fs-attribute
          [attribute]="row"
          [attributeConfig]="attributeConfig"
          [fsAttributeConfig]="fsAttributeConfig"
          [class]="class"
          [size]="size"
          (click)="edit(row)">
          @if (!columnTemplate) {
            {{ row.name }}
          } @else {
          }
        </fs-attribute>
      </div>
    </ng-template>
  </fs-list-column>
  @for (field of attributeConfigModel.fields; track field) {
    @if (field.listComponent) {
      <fs-list-column>
        <ng-template fs-list-header>
          {{ field.label }}
        </ng-template>
        <ng-template
          fs-list-cell
          let-row="row">
          <fs-attribute-component-wrapper
            [data]="row"
            [component]="field.listComponent">
          </fs-attribute-component-wrapper>
        </ng-template>
      </fs-list-column>
    }
  }
</fs-list>