<fs-list [config]="listConfig">
  <fs-list-column>
    <ng-template fs-list-header>
      {{ attributeConfig.name }}
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      <div class="list-attribute">
        <fs-attribute
            [attribute]="row"
            [config]="config"
            [class]="class"
            [size]="size"
            (click)="edit(row)">
          <ng-container *ngIf="!columnTemplate; else columnTemplateRef">
            {{ row.name }}
          </ng-container>
          <ng-template
            [ngTemplateOutlet]="columnTemplate"
            [ngTemplateOutletContext]="{ attribute: row }"
            #columnTemplateRef>
          </ng-template>
        </fs-attribute>
      </div>
    </ng-template>
  </fs-list-column>
  <ng-container *ngFor="let field of attributeConfig.fields">
    <fs-list-column *ngIf="field.listComponent">
      <ng-template fs-list-header>
        {{ field.label }}
      </ng-template>
      <ng-template
          fs-list-cell
          let-row="row">
        <fs-attribute-component-wrapper
          [data]="row"
          [component]="field.listComponent">
        </fs-attribute-component-wrapper>
      </ng-template>
    </fs-list-column>
  </ng-container>
</fs-list>