<form (fsForm)="save()">
  <fs-attribute-autocomplete
      name="attribute"
      [class]="class"
      [(ngModel)]="attribute"
      [required]="true"
      label="Autocomplete Attribute"
      [data]="{ id: 999, name: 'Object A' }"
      (ngModelChange)="changed($event)">
    <ng-template
        fsAutocompleteStatic
        (click)="staticClick($event)">
      Static Item
    </ng-template>
  </fs-attribute-autocomplete>
  <div class="fs-row.gap-xs">
    <button
        mat-raised-button
        color="primary">
      Submit
    </button>
    <div>
      <mat-select
          [(ngModel)]="class"
          fsSelectButton
          color="primary"
          placeholder="Unselected"
          name="class"
          (ngModelChange)="attribute=null">
        <mat-option
            *ngFor="let item of attributeConfig.configs"
            [value]="item.class">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </div>
  </div>
</form>
<fieldset *ngIf="attribute">
  <legend>
    Selected Attribute
  </legend>
  <pre>
    {{ attribute|json }}
  </pre>
</fieldset>