img {
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 32px;
  margin-right: 8px;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.parent {
  margin-right: 5px;
}