<fs-autocomplete-chips
    [removable]="true"
    [chipBackground]="background"
    [chipColor]="color"
    [disabled]="disabled"
    [orderable]="draggable"
    [multiple]="multiple"
    [(ngModel)]="value"
    (selected)="selected($event)"
    (removed)="removed($event)"
    (reordered)="reordered($event)"
    (ngModelChange)="change($event)"
    [fetch]="fetch"
    [size]="size"
    [initOnClick]="initOnClick"
    [placeholder]="label"
    [compareWith]="compare">
  <ng-template fsAutocompleteObject let-object="object">
    <span *ngIf="object.parent" class="parent">{{ object.parent.name }}:</span>{{ object.name }}
  </ng-template>

  <ng-container *ngFor="let tmpl of staticTemplates; let i = index">
    <ng-template fsAutocompleteChipsStatic (click)="staticClick($event, i)">
      <ng-template [ngTemplateOutlet]="tmpl"></ng-template>
    </ng-template>
  </ng-container>  
  <ng-container *ngIf="showManage">
    <ng-template fsAutocompleteChipsStatic (click)="manage()">
      Manage
    </ng-template>
  </ng-container>
</fs-autocomplete-chips>
