<mat-form-field>
  <mat-select
    [placeholder]="label || attributeName"
    [(ngModel)]="value"
    [required]="required"
    [disabled]="disabled"
    [compareWith]="compare"
  >
    <mat-option [value]="null" *ngIf="noneOption">None</mat-option>
    <mat-option *ngFor="let attribute of attributes" [value]="attribute">
      <div class="option">
        <img *ngIf="attribute.image" [src]="attribute.image" alt="">
        <div>{{attribute.name}}</div>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
